/* OtokogiGame.css ------------------------------------------------ */
/* Designed by hinacoppy 2021 ------------------------------------- */

/* Tag settings ------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
html{
  height:100%;
  overflow:hidden;
  overscroll-behavior:none; /* バウンススクロールを抑止(only for Android) */
}
body{
  margin:0;
  padding:0;
  min-height:100%;
  height:100%;
  font-family:'Arial', 'Meiryo UI';
  background-color:#aaa;
}
input,select{
  font-size:100%;
}

/* Grid Layout settings ------------------------------------- */
/* 以下すべて相対サイズにし、レスポンシブ対応可能にしておく */
.container8{
  position:relative; /* Settingボタンをabsoluteで配置するため */
  display:grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns:70vw 15vw 15vw;
  grid-template-rows:25vh 25vh 25vh 25vh;
}
.container4{
  position:relative;
  display:grid;
  grid-template-columns:85vw 15vw 0vw;
  grid-template-rows:25vh 25vh 25vh 25vh;
}
#board{
  grid-area:1/1/5/2;
}
#thumbnail0{
  grid-area:1/2/2/3;
}
#thumbnail1{
  grid-area:2/2/3/3;
}
#thumbnail2{
  grid-area:3/2/4/3;
}
#thumbnail3{
  grid-area:4/2/5/3;
}
#thumbnail4{
  grid-area:1/3/2/4;
}
#thumbnail5{
  grid-area:2/3/3/4;
}
#thumbnail6{
  grid-area:3/3/4/4;
}
#thumbnail7{
  grid-area:4/3/5/4;
}
#settingbtn{
  position:absolute;
  top:2vw;
  left:4vw;
  z-index:20;
}
#rollbtn{
  position:absolute;
  display:none;
  z-index:20;
}
#doneundo{
  position:absolute;
  display:none;
  z-index:20;
}
#youwin{
  position:absolute;
  display:none;
  z-index:50;
  font-size:15vw;
  color:#f00;
}
#settings{
  position:absolute;
  display:none;
  z-index:99;
  background-color:#dff;
  border:3px solid #00f;
  padding:2vh 5vw;
  font-size:3vw;
}

/* Button -------------------------------------*/
.oparationbtn{
  --bg-color:#bef;
  --fg-color:#27f;
  color:var(--fg-color);
  border:3px solid var(--fg-color);
  background-color:var(--bg-color);
  border-radius:20px;
  padding:2vh 2vw;
  font-size:3vw;
  white-space:nowrap;
}
.oparationbtn:disabled {
  --bg-color:#bbb;
  --fg-color:#555;
  color:var(--fg-color);
  border-color:var(--fg-color);
  background-color:var(--bg-color);
}
