/* OtokogiBoard.css ----------------------------------------------- */
/* Designed by hinacoppy 2021 ------------------------------------- */

/* bgboard decoration ---------------------------------------- */
:root{
  --boardHeightNum: 99;
  --boardWidthNum: 70;
  --boardWidth4Num: 85; /* grid-template-columns の値に合わせる */
  --boardWidth8Num: 70;
  --pointWidthNum: 9.6;
  --offtrayMarginNum: 5;
  --thumbBoardHeightNum: 100;
  --thumbBoardWidthNum: 100;
  --thumbPointWidthNum: 14;

  --point-width:calc(var(--pointWidthNum) * 1vw);
  --point-height:calc(var(--boardHeightNum) * 1vh * 0.7);
  --thumb-point-width:calc(var(--thumbPointWidthNum) * 1vw * 0.15);
  --thumb-point-height:calc(var(--thumbBoardHeightNum) * 1vh * 0.15);
}

/* Main Board ------------------------------------- */
.board{
  position:relative;
  width:100%;
  height:100%;
  background-color:var(--board-color);
  --board-height:100%;
  --board-width:100%;
}
.offtray{
  position:absolute;
  width:var(--point-width);
  height:var(--offtray-height);
  background-color:var(--offtray-color);
  border:6px solid;
  bottom:0;
  --offtray-height:var(--point-height);
  --offtray-margin:calc(var(--offtrayMarginNum) * 1px);
}
.point{
  position:absolute;
  width:var(--point-width);
  height:var(--point-height);
  bottom:0;
}
.dice{
  position:absolute;
  font-size:var(--point-width);
  width:var(--point-width);
  height:var(--point-width);
  z-index:30;
}
.chequer{
  position:absolute;
  width:var(--point-width);
  height:var(--point-width);
  border-radius:50%;
  border:1px solid gray;
  background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0  2px  2px 0 rgba(255,255,255, .1) inset,
              0  2px 10px 0 rgba(255,255,255, .2) inset,
              0 -2px  2px 0 rgba(  0,  0,  0, .1) inset;
  z-index:10;
}

.dragging{
  z-index:999; /* DOMのstyle内に定義されているため、この設定は無視される */
  opacity:0.7;
}
.flash{
  opacity:0.4;
}

/* Thumbnail Board ------------------------------------- */
.thumbboard{
  position:relative;
  width:97%; /* 少し隙間を空ける */
  height:96%;
  border:3px solid var(--board-frame);
}
.thumbofftray{
  position:absolute;
  width:var(--thumb-point-width);
  height:var(--thumb-point-height);
  border-left:3px solid var(--board-frame);
  border-top:3px solid var(--board-frame);
  background-color:#bbb;
}
.thumbpoint{
  position:absolute;
  width:var(--thumb-point-width);
  height:var(--thumb-point-height);
}
.thumbchecker{
  position:absolute;
  width:var(--thumb-point-width);
  height:var(--thumb-point-width);
  border-radius:50%;
  border:1px solid gray;
  background-image: linear-gradient(rgba(255,255,255,.3) 0%,transparent 50%,transparent 50%,rgba(0,0,0,.1) 100%);
  box-shadow: 0  2px  2px 0 rgba(255,255,255, .1) inset,
              0  2px 10px 0 rgba(255,255,255, .2) inset,
              0 -2px  2px 0 rgba(  0,  0,  0, .1) inset;
}

/* Point Triangles ------------------------------------- */
.pt_dnev{
  background:linear-gradient(to top    left,  var(--triangle-odd) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to top    right, var(--triangle-odd) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}
.pt_dnod{
  background:linear-gradient(to top    left,  var(--triangle-evn) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to top    right, var(--triangle-evn) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}
.pt_upev{
  background:linear-gradient(to bottom left,  var(--triangle-odd) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to bottom right, var(--triangle-odd) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}
.pt_upod{
  background:linear-gradient(to bottom left,  var(--triangle-evn) 50%, transparent 50%) top left/  50.3% 100% no-repeat,
             linear-gradient(to bottom right, var(--triangle-evn) 50%, transparent 50%) top right/ 50.3% 100% no-repeat;
}

/* Board Object settings ------------------------------------- */
.bearoff{
  transform:rotateX(70deg);
}
.turncolor{
  background-color:var(--ckrcolor);
}
.diceface{
  stroke:var(--dicepip);
  fill:var(--diceface);
}

/* Board Color Configuration -------------------------------------*/
:root{
  --board-color:#aaa;
  --triangle-odd:#888;
  --triangle-evn:#ccc;
  --offtray-color:#bbb;
  --board-frame:#000;
}
.boardStyle0{
  --ckrcolor:#222;
  --diceface:#222;
  --dicepip: #fff;
}
.boardStyle1{
  --ckrcolor:#22f;
  --diceface:#22f;
  --dicepip: #fff;
}
.boardStyle2{
  --ckrcolor:#f22;
  --diceface:#f22;
  --dicepip: #fff;
}
.boardStyle3{
  --ckrcolor:#2f2;
  --diceface:#2f2;
  --dicepip: #000;
}
.boardStyle4{
  --ckrcolor:#f2f;
  --diceface:#f2f;
  --dicepip: #000;
}
.boardStyle5{
  --ckrcolor:#2ff;
  --diceface:#2ff;
  --dicepip: #000;
}
.boardStyle6{
  --ckrcolor:#ff2;
  --diceface:#ff2;
  --dicepip: #000;
}
.boardStyle7{
  --ckrcolor:#fff;
  --diceface:#fff;
  --dicepip: #000;
}
